<html>
  <header>

      <div class="container">
    <div class ="container-fluid well span2" style="margin-right:7%; width: 70%; text-align: center">
      <h3> Do You Really Want To Delete Booking ? </h3>
      <br>
      <br>
     <img src="/assets/3.png" width="10%" height="10%">
     <br>
     <br>
     <br>
  <form>
     <button type="submit" class="btn btn-default" (click)="Delete()">delete</button>
     &nbsp; &nbsp;
     <a class="btn btn-default" href="/dashboard">cancel</a>
     
 
  </form>
  <br>
  
     </div>
      </div>
    </header>
    </html>