
<html>
    
   
   
  <header>
   
  <div class="main">
    
      <ul>
      
      
          <li class="active"><a href="#" > Home</a> </li>
          
          <li><a href="/booking"> Book Cabins</a></li>
         
  
          
      
      </ul>
      </div>
      <div class="title">
      <h1>Cabins Management System </h1>
      </div>
      
      <div class="button">
         
          <a href="home/register" class="btn"> Registration</a>
          <a href="home/login" class="btn"> Login</a>
      </div>
     
  </header>

        
        
        

</html>
<router-outlet></router-outlet>


